@import "src/styles/variables/_breakpoints.scss";

.dashboard-contracts-container {
  .title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 62px 15px 20px;
  }
  .filters-section {
    width: 80vw;
    max-width: 1080px;
    margin-inline: auto;
    margin-top: 35px;
    margin-bottom: 40px;
    .filter-button,
    .add-button {
      display: flex;
      flex-direction: column;
      width: fit-content;
      padding-right: 0;
    }

    .filter-button {
      width: 111px;
      margin-left: 10px;
    }
    .add-button {
      width: 192px;
    }
  }
  .table-section {
    width: 80vw;
    max-width: 1080px;
    margin-inline: auto;
    margin-top: 35px;
    margin-bottom: 40px;
    .col-12 {
      .row-table,
      .row-card {
        width: 100%;
      }
    }
  }
}

@include responsive(lt-md) {
  .dashboard-contracts-container {
    .title {
      font-size: 24px;
    }
    .filters-section {
      width: 90vw;
      .filter-button,
      .add-button {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding-right: 0;
      }
      .filter-button {
        width: 35%;
        padding-left: 0;
        margin-left: 0;
      }
      .add-button {
        width: 65%;
      }
    }
    .table-section {
      width: 90vw;
    }
  }
}
