<div class="dashboard-contracts-container">
  <header>
    <div class="title">Contracts for clients {{ company }}</div>
  </header>
  <section class="filters-section">
    <div class="row mx-0">
      <div class="col-12 col-lg px-0">
        <app-search-input [data]="searchInput"></app-search-input>
      </div>

      <div class="filter-button">
        <app-button [data]="filterButton" (clickButtonEvent)="onClickFilter()"></app-button>
      </div>
      <div class="add-button"><app-button [data]="addButton"></app-button></div>
    </div>
    <div class="additional-filters mt-4" *ngIf="isShowFilter">
      <app-contracts-filter></app-contracts-filter>
    </div>
  </section>
  <section class="table-section">
    <div class="col-12 d-md-flex d-none">
      <div class="row-table">
        <app-table [data]="tableData"></app-table>
      </div>
    </div>
    <div class="col-12 d-flex d-md-none" *ngFor="let card of tableData?.rows; let i=index">
      <div class="row-card">
        <app-table-card [data]="tableData" [index]="i"></app-table-card>
      </div>
    </div>
  </section>
</div>
