@font-face {
  font-family: "Aileron";
  font-weight: 400;
  font-display: swap;
  src: url("aileron/Aileron-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Aileron";
  font-weight: 600;
  font-display: swap;
  src: url("aileron/Aileron-SemiBold.otf") format("truetype");
}

@font-face {
  font-family: "Aileron";
  font-weight: 700;
  font-display: swap;
  src: url("aileron/Aileron-Bold.otf") format("truetype");
}
