<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="/assets/images/logo-ontop.png" alt="ontop_logo" class="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let navItem of navItems" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <fa-icon *ngIf="navItem.icon" [icon]="navItem.icon"></fa-icon>
            {{ navItem.name }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let option of navItem.options">
              <a class="dropdown-item">{{ option.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="avatar-section">
        <img src="/assets/images/avatar.png" alt="Avatar" class="avatar" />
      </div>
    </div>
  </div>
</nav>
