$white: #ffffff;
$primary: var(--bs-primary);
$gray-200: #ebebeb;
$gray-300: #c4c4c4;
$gray-400: #898989;
$gray-500: #3B3B3B;
$gray-900: #1c0b11;
$background-color: #F9F9F9;

:root {
  --bs-primary: #ff5a70;
}
